.card-link {
  text-decoration: none;
}

.loggo-link {
  color: white;
  text-decoration: none;
}

.loggo-link:hover {
  color: silver;
  /* transform: scale(1.1); */
}

.nav-link {
  color: white;
  text-decoration: none;
  /* transition: transform 0.4s ease; */
}

.nav-link:hover {
  text-decoration: underline;
  color: silver;
  /* transform: scale(1.1); */
}

.button-link {
  /* transition: transform 0.2s ease; */
}

.button-link:hover {
  /* transform: scale(1.1); */
}
